<!-- _includes/sidebar.html -->
<style>
  img{
	border: 4px solid black;
}
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    padding-top: 2px;
    overflow-y: auto; 
  }

  .category {
    padding: 8px 16px;
    font-weight: bold;
  }

  .sidebar a {
    display: block;
    padding: 6px 16px;
    color: #333;
    text-decoration: none;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 10px;
  }

  .sidebar a:hover {
    background-color: #ddd;
  }

  .content {
    margin-left: 2px; 
    padding: 2px;
  }

  @media (max-width: 768px) {
  .container {
    flex-direction: column; 
  }

  .sidebar {
    width: 100%; 
    margin-bottom: 20px; 
    position: static; 
  }

  .content {
    margin-left: 0; 
  }
}
</style>

<div class="container">
    <div class="sidebar">
      <div class="category">WriteUps</div>
      <a href="https://mcsx03.github.io/TA577_HTML">2024-03-29 - TA577 HTML Files</a>
      <a href="https://mcsx03.github.io/SVG_EmailAttachments">2024-04-01 - SVG Email Campaign</a>
      <a href="https://mcsx03.github.io/Stego_Campaign">2024-04-10 - XWorm_Steganography</a>
      <a href="https://mcsx03.github.io/Latrodectus">2024-04-29 - Latrodectus</a>
      <a href="https://mcsx03.github.io/Latrodectus_FollowUp">2024-05-01 - Latrodectus(Follow Up-VT Hunting)</a>
      <a href="https://mcsx03.github.io/2024-05-02-DarkGate">2024-05-02 - Darkgate</a>
      <a href="https://mcsx03.github.io/2024-05-06-DarkGate">2024-05-06 - Darkgate(back to xlsx)</a>
      <a href="https://mcsx03.github.io/2024-06-05-AsyncRat">2024-06-05 - AsyncRat</a>
      <a href="https://mcsx03.github.io/2024-06-06-Netsupport">2024-06-06 - Netsupport</a>
      <a href="https://mcsx03.github.io/2024-06-10-Netsupport">2024-06-10 - Netsupport</a>
      <a href="https://mcsx03.github.io/2024-06-12-AgentTesla">2024-06-12 - AgentTesla</a>
      <a href="https://mcsx03.github.io/2024-06-12-AgentTesla_followup">2024-06-12 - AgentTesla_Followup(vt hunt)</a>
      <a href="https://mcsx03.github.io/2024-06-13-Lumma">2024-06-13 - LummaStealer</a>
      <a href="https://mcsx03.github.io/2024-06-24-EvilProxy">2024-06-24 - EvilProxy</a>
      <a href="https://mcsx03.github.io/2024-06-26-DarkGate">2024-06-26 - DarkGate</a>
    <div class="category">IOCs</div>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_03_28_TA577_DarkGate">03_28_2024 Darkgate</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_02_DarkGate">05_02_2024 Darkgate</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_06_DarkGate">05_06_2024 Darkgate</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_06_XenoRat/">05_06_2024 XenoRat</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_10_Xworm">05_10_2024 Xworm</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_14_AgentTesla">05_14_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_14_DarkGate">05_14_2024 DarkGate</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_14_Xworm">05_14_2024 XWorm</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_15_XenoRat">05_15_2024 XenoRat</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_15_DarkGate">05_15_2024 DarkGate</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_15_AgentTesla">05_15_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_05_15_AgentTesla-2">05_15_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_05_AsyncRat">06_05_2024 AsyncRat</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_05_Remcos">06_05_2024 Remcos</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_05_DarkGate">06_05_2024 Darkgate</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_06_Netsupport">06_06_2024 NotDarkgate_Netsupport</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_06_AgentTesla_Formbook">06_06_2024 AgentTesla_Formbook</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_07_AgentTesla">06_07_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_08_Formbook">06_08_2024 Formbook</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_08_Xworm">06_08_2024 Xworm</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_10_Xloader">06_10_2024 Xloader</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_10_Netsupport">06_10_2024 Xloader</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_10_AgentTesla">06_10_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_10_AgentTesla_1">06_10_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_12_AgentTesla">06_12_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_12_AgentTesla_VBE">06_12_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_13_Lumma">06_13_2024 Lumma</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_14_AgentTesla">06_14_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_14_AgentTesla1">06_14_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_18_AgentTesla1">06_18_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_20_ModiLoader">06_20_2024 ModiLoader</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_23_guloader">06_23_2024 GuLoader</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_24_agenttesla">06_24_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_24_guloader">06_24_2024 GuLoader</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_25_AgentTesla">06_25_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_26_DarkGate">06_26_2024 DarkGate</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_27_AgentTesla">06_27_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_25_AgentTesla">06_24_2024 AgentTesla</a>
      <a href="https://github.com/mcsx03/mcsx03.github.io/blob/main/IOCs/2024_06_26_DarkGate">06_26_2024 DarkGate</a>
    </div>
  </div>
