<!-- _includes/sidebar.html -->
<style>
  img{
	border: 4px solid black;
}
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    padding-top: 20px;
    overflow-y: auto; /* Add vertical scrollbar if needed */
  }

  .category {
    padding: 8px 16px;
    font-weight: bold;
  }

  .sidebar a {
    display: block;
    padding: 6px 16px;
    color: #333;
    text-decoration: none;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    font-size: 14px; /* Adjust font size as needed */
  }

  .sidebar a:hover {
    background-color: #ddd;
  }

  .content {
    margin-left: 250px; /* Same width as sidebar */
    padding: 20px;
  }

  @media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically */
  }

  .sidebar {
    width: 100%; /* Full width on mobile */
    margin-bottom: 20px; /* Add some space between sidebar and content */
    position: static; /* Reset fixed positioning */
  }

  .content {
    margin-left: 0; /* Reset margin for content */
  }
}
</style>

<div class="container">
    <div class="sidebar">
      <div class="category">WriteUps</div>
      <a href="https://mcsx03.github.io/TA577_HTML">2024-03-29 - TA577 HTML Files</a>
      <a href="https://mcsx03.github.io/SVG_EmailAttachments">2024-04-01 - SVG Email Campaign</a>
      <a href="https://mcsx03.github.io/Stego_Campaign">2024-04-10 - XWorm_Steganography</a>
      <a href="https://mcsx03.github.io/Latrodectus">2024-04-29 - Latrodectus</a>
      <a href="https://mcsx03.github.io/Latrodectus_FollowUp">2024-05-01 - Latrodectus(Follow Up-VT Hunting)</a>
    </div>
  </div>
  