<!-- _includes/sidebar.html -->
<div class="container">
    <div class="sidebar">
      <div class="category">WriteUps</div>
      <a href="https://mcsx03.github.io/TA577_HTML">2024-03-29 - TA577 HTML Files</a>
      <a href="https://mcsx03.github.io/SVG_EmailAttachments">2024-04-01 - SVG Email Campaign</a>
      <a href="https://mcsx03.github.io/Stego_Campaign">2024-04-10 - XWorm_Steganography</a>
      <a href="https://mcsx03.github.io/Latrodectus">2024-04-29 - Latrodectus</a>
      <a href="https://mcsx03.github.io/Latrodectus_FollowUp">2024-05-01 - Latrodectus(Follow Up-VT Hunting)</a>
    </div>
  </div>
  